html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Roboto;
  font-style: normal;
  background-color: #e9e9e9;
}

.contents{
  min-height: calc(100vh - 4.8rem);
}

.form-horizontal .control-label{
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.captcha-container{
  width: 100%;
  height: 7.8rem;
  background: #fff;
  margin-bottom: 2.5rem;
}

.captcha-panel{
  margin-top: 0;
  margin: auto;
}

.label-p{
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: #2d2d2d;
}

.tempEdge-input-box, .tempEdge-dropdown-input-box, .tempEdge-dateTimePicker-input-box{
  font-size: 13px;
}

.tempEdge-input-box, .rw-widget-container{
  border-radius: 1.6rem !important;
  border: 0.1rem solid #ced4da;
  min-height: 4.8rem;
  width: -webkit-fill-available;
}

.tempEdge-dateTimePicker-input-box, .rw-datetime-picker.rw-widget, .rw-widget-picker.rw-widget-container, .tempEdge-dateTimePicker-input-box>div>div>input, .rw-widget-picker.rw-widget-container{
  min-height: 4rem;
}

.rw-popup ul li{
  min-height: 3.5rem;
}

.rw-popup ul li:hover{
  background-color: #5abeec !important;
}

.rw-list-option.rw-state-selected{
    background-color: #ffff !important;
    border-color: #ffff !important;
    color: #333 !important;
}

.tempEdge-dateTimePicker-input-box>div>div.rw-widget-container{
  border-radius: 1.6rem !important;
  border: 0.1rem solid #ced4da;
}

.dropdown-default-first{
  display: none;
}

.tempEdge-dateTimePicker-input-box, .rw-datetime-picker.rw-widget, .rw-widget-picker.rw-widget-container, .tempEdge-dateTimePicker-input-box>div>div>input, .rw-widget-picker.rw-widget-container{
  min-height: 3.8rem;
}

.tempEdge-dateTimePicker-input-box.has-error-dob div{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #a94442 !important;
}

.tempEdge-dropdown-input-box.has-error-dropdown div{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #a94442 !important;
}

.page-title{
  margin-top: 2.3rem;
}

.page-subtitle{
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: center;
  color: #8e8e8e;
  margin-bottom: 2.5rem;
}

.has-error p{
  margin: 0;
  font-size: 13px;
}

#facemash, .facemash, #facemash-mobile, .facemash-mobile{
  object-fit: fill;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

#facemash-mobile, .facemash-mobile{
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.phone-num-btn-submit{
  min-height: 4rem !important;
  min-width: 90%;
  border-radius: 1.6rem !important;
  background-image: linear-gradient(54deg, #5abeec, #69c8f4);
  border: none;
  margin: 3.4rem auto;
}

.facemash-modal{
  display: block;
}

/* NavBar */
.navbar{
  width: 100%;
}

.nav-btn-container{
  display: none;
}

.language-container-xs{
  display: none;
}

.language-container-lg{
  display: block;
}

.flag{
  height: 2.7rem;
  width: 2.75rem;
}

.flag:hover{
  cursor: pointer;
}

.sign-in p{
  padding: 2.3rem 0 !important;
  margin: 0;
}

ul.menu-ul, .language span {
  padding: 3.5rem 0 2.4rem 0;
}

ul.menu-ul li{
  padding-right: 2rem;
}

ul.menu-ul li a{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
  background: transparent !important;
}

ul.menu-ul li.active a{
  background: transparent !important;
}

ul.menu-ul li.active a{
  position: relative;
}

ul.menu-ul li.active a:after{
  position: absolute;
  content: "";
  height: 0.3rem;
  width:calc(100%);
  background-color: #1273c7;
  top: 75%;
  left: 0;
}

ul.menu-ul li:hover a{
  position: relative;
  text-decoration: none;
}

ul.menu-ul li:hover a:after{
  position: absolute;
  content: "";
  height: 0.3rem;
  width:calc(100%);
  background-color: #0c790ac9;
  top: 75%;
  left: 0;
}

.company-logo{
  height: 6.5rem;
  width: 19rem;
  margin: 0.8rem 0 1.6rem 0;
}

.navbar{
  background-color: #ffff !important;
  box-shadow: 0 0.2rem 1.1rem 0.1rem rgba(104, 104, 104, 0.4);
  max-height: 10.8rem;
  margin-bottom: 0;
}

.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 1rem;
}

.top-bar-part div.container, .bottom-bar-part div.container{
  padding: 0;
  width: 90%;
}

.language{
  padding: 3.4rem 0 2.8rem 0;
}

.language span{
  padding: 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}

.logo h2{
  padding: 1rem;
}

.face-tile-container{
  margin-bottom: 1.8rem;
}

.face-tile, .face-tile img{
  width: 100%;
  min-height: 24rem;
  margin: auto;
  background-color: #fff;
}

.face-tile img{
  padding: 1rem;
}

/* Left Nav Panel Hamburger Button */
.hamburger-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2.4rem;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 3rem;
  left: 7rem;
}

.hamburger-btn:focus{
  outline: none;
}

.hamburger-btn-dash{
  width: 3rem;
  height: 0.2rem;
  background: #00cccc;
}
/***/

/* Background Fade */
.background-fade{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 99;
}

/*************************/

/* Left Nav Panel */
.panel-nav-left{
  position: absolute;
  height: 100%;
  background: #ffff;
  box-shadow: 0.1rem 0 0.7rem rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 28.1rem;
  z-index: 200;
  transform: translateX(-100%);  /* The left side is -90% on the x-axis which means it's hidden */
  transition: transform 0.3s ease-out;
}

.panel-nav-left .footer{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  border-top: 0.1rem solid rgba(104,104,104, 0.4);
}

.panel-nav-left .footer p{
  padding: 0;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0.3rem;
}

.panel-nav-left .footer p a, .panel-nav-left{
  color: #2d2d2d;
}

.panel-nav-left.show{
  transform: translateX(0);     /* The left side is at position zero in the x axis which means it's showing */
}

.panel-nav-left ul{
  list-style: none;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-left: 0;
}

.panel-nav-left li{
  margin: 0;
  padding-left: 2.5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.panel-nav-left li:hover, #root > div.contents > nav.panel-nav-left.show > div.footer.text-left:hover{
  background-color: #3eb7e9 !important;
  color: #fff;
}

.panel-nav-left a{
  color: #2d2d2d;
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: normal;
}

.panel-nav-left li:hover,
.panel-nav-left a:hover,
.panel-nav-left a:active{
  color: #fff !important;
}

.panel-nav-left-close-btn{
  background: #fff;
  border: none;
}

.panel-user-img-name{
  border-bottom: 0.1rem solid rgba(104,104,104, 0.4);
  max-width: 29.7rem;
}

.panel-user-img-name h4{
  font-family: Roboto;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5abeec;
  padding: 1.8rem 0 2.6rem 1.1rem;
}

.panel-user-img-name .col-md-7{
  padding-left: 0;
}

.panel-user-img-name div{
  margin-top: -1.4rem;
}

.usr-img{
  width: 6.8rem;
  height: 6.8rem;
  margin-bottom: 2rem;
  margin-left: 1.9rem;
}

.close-btn-row{
  height: 3.5rem;
}

.panel-nav-left-close-btn{
  padding: 0 1rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.panel-nav-left-close-btn:hover{
  cursor: pointer;
}
/*************************/

/** Login Page **/
.login-container{
  padding: 0;
}

.first-input-spacer{
  margin-bottom: 1.5rem;
}

.panel.login-form-panel{
  width: 57.6rem;
  border-radius: 1.6rem !important;
  box-shadow: 0 0.2rem 0.78rem 0.02rem rgba(104, 104, 104, 0.2);
  background-color: #fff;
}

.panel-heading.login-header{
  border-color: transparent;
  padding: 0;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #fff;
}

.login-header h2{
  font-size: 2.4rem;
  padding: 1.9300000000000002rem 0 2.13rem 0;
  margin: 0 !important;
}

.panel-footer.login-footer{
  background-color: #fff;
  padding: 0;
  margin: auto;
  border: none;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-top: 0.1rem solid #ced4da;
  min-height: 6.6rem;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 6% 0;
  min-height: 20rem;
  align-items: center;
}

.login-form form {
  background-color: #ffffff;
  padding: 3.2rem 4.8rem 1.1rem 4.4rem;
  width: 100%;
}

.login-form input[type="checkbox"]{
  width: 2.1rem;
  height: 2.3rem;
  background-color: #fff;
}

.form-control, .btn {
  min-height: 3.8rem;
  border-radius: 0.2rem;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
}

.btn-block{
  border-radius: 1.6rem;
  background-image: linear-gradient(54deg, #5abeec, #69c8f4);
  min-height: 4.8rem;
  margin-top: 4.2rem;
}

.login-input{
  padding: 0 0 1.6rem 0 !important;
}

.login-input-error{
  padding: 0 !important;
}

.has-error-login input{
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075) !important;
  box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075) !important;
}

.sign-in-link{
  padding-bottom: 2rem;
  text-align: right;
}

.forgot-password{
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-decoration: underline;
  color: #5abeec;
}

.no-account-query{
  display: block;
  padding-right: 3rem;
  padding-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: rgba(45,45,45,0.6);
}

.create-account {
  display: block;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: #5abeec;
}
/***********************/

/* Register Page */
.register-form-panel, .main-form-panel{
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
  padding: 0 2.7rem;
  margin-bottom: 0;
}

.register-form-panel-inputs{
  width: 100%;
  padding: 0 2.7rem;
}

.register-form{
  border: dotted 0.1rem #626262;
  border-bottom: none;
  padding: 3.1rem 2.5rem;
}

.sign-up-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1% auto;
  min-height: 20rem;
}

.page-title-register{
  padding-top: 21px;
}

.page-subtitle-register {
  margin-top: 0;
}

.panel-heading.register-header, .panel-heading.main-header{
  border-color: transparent;
  padding: 0;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #fff;
}

.register-header h2, .main-header h2{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0 !important;
  padding: 1.55rem 0;
}

.register-form-field-array{
  width: 70% !important;
  padding: 3rem 0;
}

.register-save-btn{
  width: 85%;
  margin: 0 auto;
}

.register-btn{
  width: 50%;
  margin: 0 auto;
}

.prev-next-btns div{
  padding-bottom: 3rem;
}

.agency-phone-box{
  margin-bottom: 1rem;
}

.phone-num-btn-close, .phone-num-btn-close:hover, .phone-num-btn-close:active, .phone-num-btn-close:focus{
  width: 90%;
  height: 7.8rem;
  background-color: #8cb544 !important;
  color: #fff;
  border-radius: 0;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.translation-placeholder{
  display: none;
}

.prev-next-btns{
  margin-top: 3rem;
  margin-bottom: 0;
}

.prev-next-btns-agency{
  margin: 1rem 0
}

.panel-footer.register-footer, .panel-footer.main-footer{
  background-color: #fff;
  padding: 0;
  margin: auto 2.7rem 2.4rem 2.7rem;
  border: dotted 0.1rem #626262;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-top: 0.1rem solid #ced4da;
  min-height: 6.6rem;
}

.panel-footer.register-footer.panel-footer-agency-height-override, .panel-footer.main-footer.panel-footer-agency-height-override{
  min-height: 6.9rem;
}

.captcha-register{
  border-left: dotted 0.1rem #626262;
  margin-bottom: 0;
  border-right: dotted 0.1rem #626262;
  min-height: 11.5rem;
}
/************************/

/* Create New User / Agency */
.register-form-agency, .main-panel{
  border: none;
  border-bottom: none;
  padding: 0 0 3.1rem 0;
}

.register-agency-flex {
  display: flex;
  justify-content: space-between;
}

.register-agency-input-left{
  padding-right: 3.8rem;
}

.register-agency-input-right{
  padding-left: 3.8rem;
}

.page-title-agency{
  margin-top: 1.6rem;
}

.control-label.agency-label{
  padding-top: 0.8rem;
}

.form-horizontal .control-label.top-label-agency-form{
  padding-top: 0.1rem;
}

.wizard-create-agency{
  width: 100%;
  max-width: 160.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 2% auto;
  min-height: 20rem;
}

.wizard-wrapper{
  width: 90%;
  margin-top: 2.3rem;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 1.47rem 0.13rem rgba(104, 104, 104, 0.4);
  background-color: #ffffff;
}

.sign-up-wrapper{
  width: 100% !important;
}

.wizard-register-agency-form{
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0;
  padding: 0.5rem 2.5rem 1.1rem 2.5rem;
}

.new-agency-captcha{
  width: 30.4rem;
  height: 13rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.row-agency-name{
  padding: 0 2.7rem;
  margin-bottom: 1.3rem;
}

.captcha{
  padding: 0;
}

form div.list{
  list-style: none;
}

form div.list .list-item{
  text-decoration: none;
}

form div.list .list-item:last-child button {
  float: none;
  white-space: nowrap;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
  background-image: linear-gradient(#fff,#d5d5d5);
  border: 0.1rem solid #d5d5d5;
  color: #000;
}

.agency-phone-li{
  margin-bottom: 2rem;
  border: 0.1rem solid #d5d5d5;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.agency-phone-type>div{
  width: calc(100% - 6.2rem);
  display: inline-block;
}

.agency-phone-delete{
  width: calc(100% - 5.5rem);
}

.recruiting-office-phone{
  margin-bottom: 0;
  padding: 0;
}

#recruitingoffice{
  margin: 0.2rem 0 0 1.2rem;
}

.gender-radio-group{
  padding: 1rem 0;
}

.radio-label{
  padding-left: 1rem;
  font-size: 1.4rem;
}

.add-fieldArray-btn{
  margin-bottom: 2.8rem
}

.add-fieldArray-btn:hover{
  cursor: pointer;
}

.new-gency-register-save-btn{
  margin: 2rem auto;
}

.delete-icon{
  padding: 0.6rem 0;
}

.delete-icon-phones{
  padding: 3.5rem 0 0 0;
}

.delete-icon-phones:hover{
  cursor: pointer;
}

.delete-icon-show{
  display: none;
}

.delete-btn{
  margin: 0 -0.9rem 0 0;
}

.delete-icon:hover{
  cursor: pointer;
}

.previous, .previous:hover{
  color: #000 !important;
  background-image: linear-gradient(315deg, #d7d7d7, #c5c5c5);
  border-color: #d7d7d7;
}

.payroll-hours-validation{
  padding-bottom: 22.0rem;
}

.confirmation-page-subtitle{
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: left;
  color: #3eb7e9;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.confirmation-page-categories{
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: left;
  color: #2d2d2d;
}

.confirmation-page-paragraph{
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: left;
  color: rgba(45, 45, 45, 0.6);
}

/*************************/

/** Create New Client **/

.client-col{
  padding-right: 0;
}

.dept-col{
  padding-left: 0;
}

.page-title-new-client{
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #2d2d2d;
  margin-bottom: 0;
  padding: 2rem 0;
}

.create-client{
  padding: 0 0 2.5rem 2.2rem;
}

.new-client-header, .department-list-header{
  background-color: #3eb7e9;
}

.new-client-header{
  border-top-left-radius: 1.6rem;
}

.department-list-header{
  border-top-right-radius: 1.6rem;
}

.new-client-header h2, .department-list-header h2{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
  padding: 1.6rem 0 1.8rem 0;
  margin-bottom: 0;
}

.new-clients-contents{
  border: dotted 1px #B2B2B2;
  border-top: none;
  border-bottom-left-radius: 1.6rem;
}

.client-contents{
  background-color: #fff;
  padding: 1.9rem 1.8rem 0 1.9rem;
}

.new-clients-footer{
  border-top: solid 1px #E7EAED;
}

.new-clients-footer>div{
  padding-bottom: 0;
}

.bottom-row{
  margin-bottom: 0;
  padding-bottom: 4rem;
}

.department-list{
  padding: 0 2.2rem 2.5rem 2.2rem;
  height: 100%;
}

.department-list-contents{
  border: dotted 1px #B2B2B2;
  border-top: none;
  border-bottom-right-radius: 1.6rem;
  height: calc(100% - 53.3px);
}

.department-list-button{
  border-radius: 1.6rem;
  border: none;
  min-height: 4.8rem;
  padding: 1.6rem 3.2rem;
  background-color: #8cb544;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  width: 70%;
  margin: auto;
  //margin-bottom: 37.6rem;
}

.department-list-button:hover{
  cursor: pointer;
}

.btn-dept{
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #2d2d2d;
  background-color: #e0e0e0;
  border: none;
  padding: 1.3rem 14.2rem;
  width: 100%;
}

.btn-dept:hover, .btn-dept:focus, .btn-dept:active, .btn-dept.active.focus, .btn-dept.active:focus, .btn-dept.active:hover, .btn-dept:active.focus, .btn-dept:active:focus, .btn-dept:active:hover, .open>.dropdown-toggle.btn-dept.focus, .open>.dropdown-toggle.btn-dept:focus, .open>.dropdown-toggle.btn-dept:hover{
  background-color: #d2d2d2;
  border: none;
  color: #2d2d2d;
}

/***************************/

/** Employee List  **/

.table-header-left{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  border-top-left-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-mid{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-right{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-color: transparent;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-content{
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border: solid 1px lightgray;
  padding: 1rem 1.8rem 1rem 1.8rem !important;
}
/**********************/

/* Footer */
.footer{
  width: 100%;
  min-height: 4.8rem;
  position: absolute;
  margin-top: 10px;
  /* overflow: hidden;
  position: fixed;
  bottom: 0; */
}

.footer p{
  padding: 1.4rem 0 0 0;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/****************************/

/*** DASHBOARD ***/
.panel-heading.main-header{
  background: #ffff;
}

.main-header h2{
  color: black;
}

.main-form-panel{
  padding: 2rem 2rem 2rem 2rem;
  background: #fff;
  margin: 2rem auto;
  max-width: 1500px;
  align-content: center;
  border-radius: 16px ;
  margin-bottom: 0;
}

.main-form-panel-inputs{
  padding: 0;
  background: #fff;
}

.main-form{
  border: none;
}

.main-form-group{
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.panel-footer.main-footer{
  margin: auto;
  border: 0.1rem solid #ffff;
}
/*****************************/

.container-form-title{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 1.8rem 1rem 1.8rem;
}

.container-form-blue{
  border: dotted 1px #626262;
  border-bottom: none;
  padding: 1rem 1.8rem 1rem 1.8rem;
}
.container-footer-blue{
  border: dotted 1px #626262;
  padding: 1rem 1.8rem 1rem 1.8rem;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  min-height: 6.6rem;
}


.table-header-left{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  border-top-left-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-mid{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-right{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-color: transparent;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-content{
  font-size: 1.4rem;
  font-style: normal;
  font-stretch: normal;
  border: solid 1px lightgray;
  padding: 1rem 1rem 0.8rem 1rem  !important;
}
.tableRow:hover{
  font-weight: bold !important;
  color: black;
}
@media screen and (max-width: 1201px){
  .hamburger-btn {
    left: 4rem;
  }

  .company-logo {
    width: 17.3rem;
  }

  ul.menu-ul li a {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 1024px){
  .hamburger-btn {
    left: 4rem;
  }

  .company-logo {
    width: 17.3rem;
  }

  ul.menu-ul li a {
    font-size: 1.9rem;
  }

  .client-col{
    padding-right: 1.5rem;
  }

  .dept-col{
    padding-left: 1.5rem;
  }

  .create-client{
    padding: 0 2.2rem 2.5rem 2.2rem;
  }

}

@media screen and (max-width: 650px) {
  .navbar {
    max-height: max-content;
  }

  .nav-btn-container{
    display: block;
  }

  .navbar-toggler{
    margin-top: 28px;
    width: 35px;
    height: 35px;
  }

  .company-logo {
    height: 7rem;
    width: 25.3rem;
    margin: 0.6rem 2rem 1.4rem 2rem;
  }

  .language-container-xs{
    display: block;
  }

  .language-container-lg{
    display: none;
  }

  .language {
    padding: 3.5rem 0 0 0;
  }

  .flag {
    height: 2.9rem;
    width: 2.95rem;
  }

  ul.menu-ul, .language span {
    padding: 2rem 0 2rem 0;
    font-size: 1.5rem;
  }

  .panel.login-form-panel {
    width: auto;
  }

  ul.menu-ul li.active a:after{
    background-color: transparent;
    top: 75%;
    left: 1.5rem;
  }

  ul.menu-ul li:hover a:after{
    background-color: transparent;
  }

  .wizard-wrapper{
    width: 90% !important;
  }

  .wizard-create-agency{
    width: 100% !important;
  }

  .create-client{
    padding: 0 2.2rem 2.5rem 2.2rem;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    max-height: max-content;
  }

  .nav-btn-container{
    display: block;
  }

  .navbar-toggler{
    margin-top: 28px;
    width: 35px;
    height: 35px;
  }

  .company-logo {
    height: 7rem;
    width: 13.3rem;
    margin: 0.6rem 2rem 1.4rem 2rem;
  }

  .language-container-xs{
    display: block;
  }

  .language-container-lg{
    display: none;
  }

  .language {
    padding: 3.5rem 0 0 0;
  }

  .flag {
    height: 2.5rem;
    width: 2.5rem;
  }

  ul.menu-ul, .language span {
    padding: 2rem 0 2rem 0;
    font-size: 1.5rem;
  }

  .panel.login-form-panel {
    width: auto;
  }

  ul.menu-ul li.active a:after{
    background-color: transparent;
    top: 75%;
    left: 1.5rem;
  }

  ul.menu-ul li:hover a:after{
    background-color: transparent;
  }

  .wizard-wrapper{
    width: 90% !important;
  }

  .wizard-create-agency{
    width: 100% !important;
  }

  .create-client{
    padding: 0 2.2rem 2.5rem 2.2rem;
  }
}
