html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Roboto !important;
  background-color: #e9e9e9;
}

.h2, h2 {
  font-size: 3rem;
}

.h3, h3{
  font-size: 2.4rem
}

::-webkit-input-placeholder {
   font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size: 14px;
}

input[type="text"], input[type="textarea"], input[type="email"], input[type="password"]
{
    font-size:14px;
}

.video-capture-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents{
  min-height: calc(100vh - 4.8rem);
}

.form-horizontal .col-form-label{
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0;
  font-weight: 700;
}

.captcha-container{
  width: 100%;
  height: 7.8rem;
  background: #fff;
  margin-bottom: 2.5rem;
}

.captcha-panel{
  margin-top: 0;
}

.label-p{
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: #2d2d2d;
}

.tempEdge-input-box, .rw-widget-container{
  border-radius: 1.6rem !important;
  border: 0.1rem solid #ced4da;
  min-height: 4rem;
  width: -webkit-fill-available;
  
}

.rw-popup ul li{
  min-height: 3.5rem;
}

.rw-popup ul li:hover{
  background-color: #5abeec !important;
}

.rw-list-option.rw-state-selected{
    background-color: #ffff !important;
    border-color: #ffff !important;
    color: #333 !important;
}

.tempEdge-dateTimePicker-input-box>div>div>input{
  min-height: 4.8rem !important;
}

.tempEdge-dateTimePicker-input-box>div>div.rw-widget-container{
  border-radius: 1.6rem !important;
  border: 0.1rem solid #ced4da;
}

.dropdown-default-first{
  display: none;
}

.tempEdge-dateTimePicker-input-box.has-error-dob div{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #a94442 !important;
}

.tempEdge-dropdown-input-box.has-error-dropdown div{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #a94442 !important;
}

.page-title{
  padding-top: 0;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.page-subtitle{
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: center;
  color: #8e8e8e;
  margin-bottom: 1.5rem;
}

.has-error .form-control{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error p{
  margin: 0;
}

#facemash, .facemash, #facemash-mobile, .facemash-mobile{
  object-fit: fill;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

#facemash-mobile, .facemash-mobile{
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.phone-num-btn-submit{
  min-height: 4rem !important;
  min-width: 90%;
  border-radius: 1.6rem !important;
  background-image: linear-gradient(54deg, #5abeec, #69c8f4);
  border: none;
  margin: 3.4rem auto;
}

.facemash-modal{
  display: block;
}

.modal-title{
  font-size: 2rem;
}

/* NavBar */
.menu-ul{
  padding-left: 2.5rem !important;
}

.menu, .menu-list{
  padding-left: 0;
}

.menu-ul li a , .language span{
  padding: 4.2rem 0 3.5rem 0;
  margin: 0 4rem 0 0;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}

.menu-ul li{
  padding: 3.5rem 0 2.4rem 0;
  font-size: 1.6rem;
}

.menu-ul li.active a{
  background: transparent !important;
  text-decoration: none;
}

.menu ul li.active a{
  position: relative;
}

.menu ul li.active a:after{
  position: absolute;
  content: "";
  height: 0.3rem;
  width: 100%;
  background-color: #1273c7;
  top: 75%;
  left: 0;
}

.menu ul li:hover a{
  position: relative;
}

.menu ul li:hover a:after{
  position: absolute;
  content: "";
  height: 0.3rem;
  width: 100%;
  background-color: #0c790ac9;
  top: 75%;
  left: 0;
}

.menu ul li a:hover{
  text-decoration: none;
}

.company-logo{
  height: 6.5rem;
  width: 19rem;
  margin: 0.8rem 0 1.6rem 0;
}

.navbar{
  background-color: #ffff !important;
  box-shadow: 0px 0.2rem 1.1rem 0.1rem rgba(104, 104, 104, 0.4);
  max-height: 9rem;
  margin-bottom: 0;
}

.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 1rem;
}

.bottom-bar-part{
  color: #000;
}

.top-bar-part div.container, .bottom-bar-part div.container{
  padding: 0;
  width: 90%;
}

.language{
  padding: 3.4rem 0 2.8rem 0;
}

.language span{
  padding: 3.5rem 0 2.4rem 0;
  font-size: 1.6rem;
}

.logo h2{
  padding: 1rem;
}

.language span, .language span span{
  margin-right: 0;
}

.flag{
  height: 2.7rem;
  width: 2.75rem;
}

.flag:hover{
  cursor: pointer;
}

/*******************************/

.sign-in p{
  padding: 2.3rem 0 !important;
  margin: 0;
}

.face-tile-container{
  margin-bottom: 18px;
}

.face-tile, .face-tile img{
  width: 100%;
  min-height: 240px;
  margin: auto;
  background-color: #fff;
}

.face-tile img{
  padding: 10px;
}

/* Left Nav Panel Hamburger Button */
.hamburger-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  left: 70px;
}

.hamburger-btn:focus{
  outline: none;
}

.hamburger-btn-dash{
  width: 30px;
  height: 2px;
  background: #00cccc;
}
/***/

/*************************/
/* Background Fade */
.background-fade{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 99;
}

/* Left Nav Panel */
.panel-nav-left{
  position: absolute;
  height: 100%;
  background: #ffff;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 251px;
  z-index: 200;
  transform: translateX(-100%);  /* The left side is -90% on the x-axis which means it's hidden */
  transition: transform 0.3s ease-out;
}

.panel-nav-left .footer{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  border-top: 1px solid rgba(104,104,104, 0.4);
}

.panel-nav-left .footer p{
  padding: 0;
  text-align: left;
  margin-bottom: 0;
  margin-top: 3px;
}

.panel-nav-left .footer p a, .panel-nav-left .footer p a:hover{
  color: #2d2d2d;
}

.panel-nav-left.show{
  transform: translateX(0);     /* The left side is at position zero in the x axis which means it's showing */
}

.panel-nav-left ul{
  list-style: none;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-left: 0;
}

.panel-nav-left li{
  margin: 0;
  padding-left: 2.5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.panel-nav-left li:hover{
  background-color: #3eb7e9;
}

.panel-nav-left a{
  color: #2d2d2d;
  text-decoration: none;
  text-align: left;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: normal;
}

.panel-nav-left li:hover,
.panel-nav-left a:hover,
.panel-nav-left a:active{
  color: #fff;
}

.panel-nav-left-close-btn{
  background: #fff;
  border: none;
}

.panel-user-img-name{
  border-bottom: 1px solid rgba(104,104,104, 0.4);
  max-width: 26.7rem;
}

.panel-user-img-name h4{
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5abeec;
  padding: 2.6rem 0;
  margin-left: -4px;
}

.panel-user-img-name .col-md-7{
  padding-left: 0;
}

.usr-img{
  width: 6.8rem;
  height: 6.8rem;
  margin-bottom: 2rem;
  margin-left: 1.9rem;
}

.close-btn-row{
  height: 3.5rem;
}

.panel-nav-left-close-btn{
  padding-top: 1.3rem;
  padding-bottom: 2.2rem;
}
/*************************/

/** Login Page **/
.login-container{
  padding: 0;
}

.first-input-spacer{
  margin-bottom: 1.5rem;
}

.panel.login-form-panel{
  width: 57.6rem;
  border-radius: 1.6rem !important;
  box-shadow: 0px 0.2rem 0.78rem 0.02rem rgba(104, 104, 104, 0.2);
  background: #fff;
}

.panel-heading.login-header{
  border-color: transparent;
  padding: 0;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #fff;
}

.login-header h2{
  font-size: 2.4rem;
  padding: 1.9300000000000002rem 0 2.13rem 0;
  margin: 0 !important;
}

.panel-footer.login-footer{
  background-color: #fff;
  padding: 0;
  margin: auto;
  border: none;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-top: 0.1rem solid #ced4da;
  min-height: 6.6rem;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 6% 0;
  min-height: 20rem;
  align-items: center;
}

.login-form form {
  background-color: #ffffff;
  padding: 3.2rem 4.8rem 1.1rem 4.4rem;
  width: 100%;
}

.login-form input[type="checkbox"]{
  width: 2.1rem;
  height: 2.3rem;
  background-color: #fff;
  margin-top: 0.5rem;
}


.form-control, .btn {
  min-height: 3.8rem;
  border-radius: 0.2rem;
}

.btn {
  font-size: 1.4rem;
  font-weight: bold;
}

.btn-block{
  border-radius: 1.6rem;
  background-image: linear-gradient(54deg, #5abeec, #69c8f4);
  min-height: 4rem;
  margin-top: 4.2rem;
}

.login-input{
  padding: 0 0 1.6rem 0 !important;
}

.login-input-error{
  padding: 0 !important;
}

.has-error-login input{
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075) !important;
  box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,.075) !important;
}

.sign-in-link{
  padding-bottom: 2rem;
  text-align: right;
}

.forgot-password{
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-decoration: underline;
  color: #5abeec;
  margin-top: 0.5rem;
}

.no-account-query{
  display: block;
  padding-right: 3rem;
  padding-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: rgba(45,45,45,0.6);
}

.create-account {
  display: block;
  padding-right: 3rem;
  padding-bottom: 2.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.03rem;
  color: #5abeec;
}
/***********************/

/* Register Page */
.register-form-panel, .main-form-panel{
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
  padding: 0 2rem;
  margin-bottom: 0;
}

.register-form-panel-inputs{
  width: 100%;
  padding: 0 2rem;
}

.register-form{
  border: dotted 1px #626262;
  border-bottom: none;
  padding: 1rem 1.8rem 1rem 1.8rem;
}

.container-form-blue{
  border: dotted 1px #626262;
  border-bottom: none;
  padding: 1rem 1.8rem 1rem 1.8rem;
}
.container-footer-blue{
  border: dotted 1px #626262;
  padding: 1rem 1.8rem 1rem 1.8rem;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  min-height: 6.6rem;
}

.container-form-title{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 1.8rem 1rem 1.8rem;
}

.sign-up-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1% auto;
  min-height: 20rem;
}

.page-title-register{
  padding-top: 2.2rem;
}

.page-subtitle-register {
  margin-top: 0;
}

.panel-heading.register-header, .panel-heading.main-header{
  border-color: transparent;
  padding: 0;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #fff;
}

.register-header h2, .main-header h2{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0 !important;
  padding: 15.5px 0;
}

.register-form-field-array{
  width: 70% !important;
  padding: 3rem 0;
}

.register-save-btn{
  width: 85%;
  margin: 0 auto 1.5rem auto;
}

.register-btn{
  width: 50%;
  margin: 0 auto 1rem auto;
}

.agency-phone-box{
  margin-bottom: 1rem;
}

.phone-num-btn-close, .phone-num-btn-close:hover, .phone-num-btn-close:active, .phone-num-btn-close:focus{
  width: 90%;
  height: 7.8rem;
  background-color: #8cb544 !important;
  color: #fff;
  border-radius: 0;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.translation-placeholder{
  display: none;
}

.prev-next-btns{
  margin-top: 2rem;
  margin-bottom: 0;
}

.prev-next-btns-agency{
  margin: 1rem 0
}

.panel-footer.register-footer, .panel-footer.main-footer{
  background-color: #fff;
  padding: 0;
  margin: auto 2rem 2rem 2rem;
  border: dotted 1px #626262;
  border-bottom-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-top: 0.1rem solid #ced4da;
  min-height: 6.6rem;
}

.panel-footer.register-footer.panel-footer-agency-height-override, .panel-footer.main-footer.panel-footer-agency-height-override{
  min-height: 6.9rem;
}

.captcha-register{
  border-left: dotted 1px #626262;
  margin-bottom: 0;
  border-right: dotted 1px #626262;
  min-height: 115px;
}
/************************/

/* Create New User / Agency */
.register-form-agency, .main-panel{
  border: none;
  border-bottom: none;
  padding: 0 0 3.1rem 0;
}

.register-agency-flex {
  display: flex;
  justify-content: space-between;
}

.register-agency-input-left{
  padding-right: 3.8rem;
}

.register-agency-input-right{
  padding-left: 3.8rem;
}

.page-title-agency{
  padding-top: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.col-form-label.agency-label{
  padding-top: 13px;
}

.form-horizontal .col-form-label.top-label-agency-form{
  padding-top: 0.1rem;
}

.wizard-create-agency{
  width: 1398px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 2% auto;
  min-height: 20rem;
}

.wizard-wrapper, .sign-up-wrapper{
  width: 1160px;
  margin-top: 0.7rem;
  border-radius: 16px;
  box-shadow: 0px 2px 14.7px 1.3px rgba(104, 104, 104, 0.4);
  background-color: #ffffff;
}

.wizard-register-agency-form{
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0;
  padding: 0.5rem 2.5rem 1.1rem 2.5rem;
}

.wizard-register-agency-form div{
  width: 100%;
}

.wizard-register-agency-form div .row{
  margin-left: 0;
}

.new-agency-captcha{
  width: 30.4rem;
  height: 13rem;
  margin-bottom: 4rem;
}

.row-agency-name{
  padding: 0 2.7rem;
  margin-bottom: 13px;
}

.captcha{
  padding: 0;
}

form div.list{
  list-style: none;
}

form div.list .list-item{
  text-decoration: none;
}

form div.list .list-item:last-child button {
  float: none;
  white-space: nowrap;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
  background-image: linear-gradient(#fff,#d5d5d5);
  border: 0.1rem solid #d5d5d5;
  color: #000;
}

.agency-phone-li{
  margin-bottom: 2rem;
  border: 0.1rem solid #d5d5d5;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.agency-phone-type>div{
  width: calc(100% - 62px);
  display: inline-block;
}

.agency-phone-delete{
  width: calc(100% - 55px);
}

.recruiting-office-phone{
  margin-bottom: 2rem;
  padding: 0 3rem;
}

#recruitingoffice{
  margin: 1.2rem 0 0 1.2rem;
}

.gender-radio-group{
  padding: 10px 0;
}

.radio-label{
  padding-left: 10px;
}

.add-fieldArray-btn{
  margin-top: 12.8rem;
  margin-bottom: -12px
}

.add-fieldArray-btn:hover{
  cursor: pointer;
}

.new-gency-register-save-btn{
  margin: 2rem auto;
}

.delete-icon{
  padding: 8px 0;
}

.delete-icon-show{
  display: none;
}

.delete-btn{
  margin: 0 -9px 0 0;
}

.delete-icon:hover{
  cursor: pointer;
}

.previous, .previous:hover{
  color: #000 !important;
  background-image: linear-gradient(315deg, #d7d7d7, #c5c5c5);
  border-color: #d7d7d7;
}

.payroll-hours-validation{
  padding-bottom: 22.0rem;
}

.confirmation-page-subtitle{
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #3eb7e9;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.confirmation-page-categories{
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #2d2d2d;
}

.confirmation-page-paragraph{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(45, 45, 45, 0.6);
}

/*************************/

/* Footer */
.footer{
  background-color: #df963d;
  width: 100%;
  min-height: 2.8rem;
}

.footer p{
  padding: 0.7rem 0 0 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
/****************************/

/*** DASHBOARD ***/
.panel-heading.main-header{
  background: #ffff;
}

.main-header h2{
  color: black;
}

.main-form-panel{
  padding: 2rem 2rem 2rem 2rem;
  background: #fff;
  margin: 2rem auto;
  max-width: 1500px;
  align-content: center;
  border-radius: 16px ;
}

.main-form-panel-inputs{
  padding: 0;
}

.main-form{
  border: none;
  padding: 1rem 1.8rem 1rem 1.8rem;
}

.main-form-group{
  margin-bottom: 0;
  padding-bottom: 15px;
}

.form-group.row .col-form-label{
  padding-top: 0;
}

.form-group.row .col-form-label.agency-label{
  padding-top: 8px;
}

.panel-footer.main-footer{
  margin: auto;
  border: 1px solid #ffff;
}
/*****************************/
.tempEdge-dateTimePicker-input-box, .rw-datetime-picker.rw-widget, .rw-widget-picker.rw-widget-container, .tempEdge-dateTimePicker-input-box>div>div>input, .rw-widget-picker.rw-widget-container{
  min-height: 3rem;
}


.table-header-left{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  border-top-left-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-mid{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-right: 1px solid #ffff;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}
.table-header-right{
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border-color: transparent;
  border-top-right-radius: 1.6rem;
  background-color: #5abeec;
  color: #ffffff;
  padding: 1.5rem 0 !important;
}

.table-content{
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  border: solid 1px lightgray;
  padding: 1rem 1.8rem 1rem 1.8rem !important;
}