:root {
  --normal-blue: #3eb7e9;
  --tempedge-orange: #eb8d34;
  --tempedge-light-orange: #ffae64;
  --success-result-bar-bkg-color: #98fb98;
  --success-result-bar-font-color: #008000;
  --error-result-bar-bkg-color: #ff9999;
  --error-result-bar-font-color: #ff0000;
}
