:root {
  --normal-blue: #3EB7E9;
  --success-result-bar-bkg-color: #98FB98;
  --success-result-bar-font-color: #008000;
  --error-result-bar-bkg-color: #ff9999;
  --error-result-bar-font-color: #ff0000;
}
